#pageContent {
    width: 100%;
    position: fixed;
    height: calc(100% - 57px);
    .main-layout{
        height: 100%;
        .layout{
            height: 100%;
            margin:0;
            padding: 0;
            .box:not(:last-child){
                padding-bottom: 1rem;
            }
        }
    }
}