$lumi-orange: #ee9723;
$lumi-green: #26ac4a;
$lumi-green-darker: #135625;
$blue: #008aee;
$blue-hover: #3890fc;
$gray: #707070;
$lumi-linear-gradient: linear-gradient(to right, $lumi-green, $lumi-green-darker);
$lumi-radial-gradient: radial-gradient($lumi-green, $lumi-green-darker);

$primary-color: #fff;
$primary-color-hover: rgb(146, 146, 146);
$active-color: $lumi-orange;
$not-active-color: #a9a9a9;

$contrast-color: #000;
$background: #393933;
$background-blur: rgba(57, 57, 51, 0.9);
$background-darker: #201a1a;
$background-lighter: #414141;
$background-card: #52524c;
$background-card-hover: $background-lighter;
$background-brigness-lighter: rgba(255, 255, 255, 0.25);
$background-brigness-darker: rgba(0, 0, 0, 0.25);

$border-box-colapse: 1px 0 0 0 $gray, 0 1px 0 0 $gray, 1px 1px 0 0 $gray, 1px 0 0 0 $gray inset, 0 1px 0 0 $gray inset;
.night-theme {
  #rule {
    #ruleList {
      .buttonAddRule {
        background: $gray !important;
        border: 1px $gray;
        &:hover {
          background-color: $background !important;
          border: 1px solid $lumi-orange !important;
          color: $lumi-orange;
        }
      }
      h5 {
        span {
          color: $lumi-orange;
        }
      }
      .rule {
        margin-bottom: 0px !important;
        background-color: $background;
        .tooltip-hover {
          color: white;
          background: gray !important;
        }
        &.active {
          background-color: $background-darker;
          .name {
            color: $lumi-orange;
          }
        }
      }
    }
    #ruleManager {
      button {
        background-color: $gray;
        border: none;
        &:hover {
          background-color: $background-lighter;
        }
        &:disabled {
          background-color: gray;
        }
      }
      .card-header {
        .right-box {
          justify-content: flex-end;
          .search {
            .form-rule {
              input {
                background-color: $gray;
              }
            }
          }
        }
      }
      .card-body {
        table {
          thead {
            tr {
              th {
                background-color: $gray;
                border: none;
                &:first-child {
                  border-top-left-radius: 1rem;
                }
                &:last-child {
                  border-top-right-radius: 1rem;
                }
              }
            }
          }
          tbody {
            background-color: $background-card;
            tr {
              &.selected {
                background-color: $background-brigness-lighter;
              }
              td {
                div {
                  position: relative;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: auto;
                }
                .check_device {
                  border: 1px white solid;
                  border-radius: 2px;
                }
                .icon-config {
                  font-size: 45px;
                }
                border: #737373 0.3px solid;
              }
            }
          }
        }
        .rule-info-box {
          background-color: $background-card;
          box-shadow: $border-box-colapse;
          .info {
            input {
              background-color: transparent;
              color: $primary-color;
            }
          }
        }

        .form-group {
          background-color: $background;
          input {
            background-color: transparent;
            color: $primary-color;
          }
          .input-group-text {
            color: white;
            border: none;
            background-color: $background-brigness-lighter;
          }
        }
      }
      .form-group {
        height: 2.5rem;
        border-radius: 1.25rem;
        border: none;
        input {
          height: 2.5rem;
          border: none;
        }
        .input-group-text {
          border-top-right-radius: 1.25rem;
          border-bottom-right-radius: 1.25rem;
        }
      }
      .modal-list-device-input {
        #tableDevice {
          background-color: $background-card;
          thead {
            tr {
              th {
                background-color: $background-card;
                border: solid 1px gray;
              }
            }
          }
          tbody {
            tr {
              &.selected {
                background-color: $background-brigness-lighter;
              }
              td {
                div {
                  position: relative;
                  top: 0;
                  left: 0;
                  right: 0;
                  bottom: 0;
                  margin: auto;
                }
                .check_device {
                  border: 1px white solid;
                  border-radius: 2px;
                }
                .icon-config {
                  font-size: 45px;
                }
                border: #737373 0.3px solid;
              }
            }
          }
        }
      }
    }
  }
}
